<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center space-y-4">
            <h1 class="text-7xl tracking-tight font-extrabold lg:text-9xl text-primary">404</h1>
            <p class="text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Something's missing.</p>
            <p class="text-lg font-light text-gray-500">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
            <div class="pt-8">
                <a href="/" class="btn bg-primary">Back to Homepage</a>
            </div>
        </div>
    </div>
</section>