<nav
    x-data="{ mobileMenuIsOpen: false, scrolled: false }"
    @scroll.window="scrolled = window.scrollY > 0"
    :class="{ 'scrolled': scrolled }"
    class="main-v1"
>
    <div class="content-wrapper" :class="{ 'scrolled': scrolled }">
        <div class="content-area">
            <!-- Brand Logo -->
            <a href="/">{{ partial:components/logo }}</a>
            <!-- Desktop Menu -->
            <ul class="nav-items">
                {{ nav:main_nav }} {{ if children }}
                <div
                    x-data="{ isOpen: false, openedWithKeyboard: false }"
                    class="relative w-fit"
                    x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false"
                >
                    <!-- Toggle Button -->
                    <li>
                        <a
                            class="cursor-pointer btn {{ if is_current }} btn-primary {{ else }} btn-secondary {{ /if }}"
                            x-on:click="isOpen = ! isOpen"
                            x-on:keydown.space.prevent="openedWithKeyboard = true"
                            x-on:keydown.enter.prevent="openedWithKeyboard = true"
                            x-on:keydown.down.prevent="openedWithKeyboard = true"
                            x-bind:aria-expanded="isOpen || openedWithKeyboard"
                        >
                            {{ title }}
                            <i
                                class="fa-regular fa-sm ml-2"
                                :class="isOpen || openedWithKeyboard ? 'fa-chevron-up' : 'fa-chevron-down'"
                            ></i>
                        </a>
                    </li>

                    <!-- Sub Menu -->
                    <div
                        x-cloak
                        x-show="isOpen || openedWithKeyboard"
                        x-transition
                        x-trap="openedWithKeyboard"
                        x-on:click.outside="isOpen = false, openedWithKeyboard = false"
                        x-on:keydown.down.prevent="$focus.wrap().next()"
                        x-on:keydown.up.prevent="$focus.wrap().previous()"
                        class="sub-menu"
                        role="menu"
                    >
                        {{ children }}
                        <a
                            href="{{ url }}"
                            class="bg-white px-4 py-2 text-sm text-black hover:text-secondary"
                            role="menuitem"
                            >{{ title }}</a
                        >
                        {{ /children }}
                    </div>
                </div>
                {{ else }}
                <li>
                    <a
                        href="{{ url }}"
                        class="btn {{ if is_current }} btn-primary {{ else }} btn-secondary {{ /if }}"
                        >{{ title }}</a
                    >
                </li>
                {{ /if }} {{ /nav:main_nav }}
            </ul>

            <!-- Mobile Menu Button -->
            <button
                @click="mobileMenuIsOpen = !mobileMenuIsOpen"
                :aria-expanded="mobileMenuIsOpen"
                :class="mobileMenuIsOpen ? 'is-open' : null"
                type="button"
                class="mobile-menu"
                aria-label="mobile menu"
                aria-controls="mobileMenu"
            >
                <svg
                    x-cloak
                    x-show="!mobileMenuIsOpen"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="size-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                    />
                </svg>
                <svg
                    x-cloak
                    x-show="mobileMenuIsOpen"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="size-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"
                    />
                </svg>
            </button>

            <!-- Mobile Menu -->
            <ul
                x-cloak
                x-show="mobileMenuIsOpen"
                x-transition:enter="transition motion-reduce:transition-none ease-out duration-300"
                x-transition:enter-start="-translate-y-full"
                x-transition:enter-end="translate-y-0"
                x-transition:leave="transition motion-reduce:transition-none ease-out duration-300"
                x-transition:leave-start="translate-y-0"
                x-transition:leave-end="-translate-y-full"
                id="mobileMenu"
                class="mobile-menu"
            >
                {{ nav:main_nav }} {{ if children }}
                <li class="py-4"><a href="{{ url }}">{{ title }}</a></li>
                <ul>
                    {{ children }}
                    <li class="ml-6 space-x-2 py-0">
                        <i class="fa-regular fa-chevron-right fa-sm"></i
                        ><a href="{{ url }}">{{ title }}</a>
                    </li>
                    {{ /children }}
                </ul>
                {{ else }}
                <li class="py-4"><a href="{{ url }}">{{ title }}</a></li>
                {{ /if }} {{ /nav:main_nav }}
            </ul>
        </div>
    </div>
</nav>
