{{# @name Default @desc The default template with an outer wrapper grid as
defined in tailwind.config.js. It makes sure all blocks on a page get evenly
spaced without having to worry about margins or paddings. #}}

<!-- /default.antlers.html -->
{{ partial:{{ theme_settings:template }}/navigation/nav }}
<main>
    {{ page_builder scope="block" }} {{ partial src="{{ theme_settings:template
    }}/page_builder/{type}" }} {{ /page_builder }}
</main>
{{ partial:{{ theme_settings:template }}/navigation/footer }}
<!-- End: /default.antlers.html -->
