<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ company:name }} - {{ title ?? site:name }}</title>
        <link rel="icon" href="{{ company:icon }}" type="image/x-icon" />
        <script
            src="https://kit.fontawesome.com/c910993a50.js"
            crossorigin="anonymous"
        ></script>
        {{ theme_settings:google_font }} {{ partial:scripts/header_scripts }} {{
        vite src="resources/js/site.js|resources/css/site.scss" }}
    </head>
    <body class="min-h-screen flex flex-col flex-grow">
        {{ partial:scripts/start_of_page_scripts }} {{ template_content }} {{
        partial:scripts/end_of_page_scripts }}
    </body>
</html>
