{{ partial:navigation/nav }}
<section>
    <div class="content-area min-h-screen">
        <div class="inner-padding">
            <h2>{{ title }}</h2>
            <div class="my-12">
                <figure class="float-left mr-6 mb-6 md:w-1/2 w-full">
                    <img src="{{ featured_image }}" alt="{{ featured_image:alt }}" class="border border-inherit w-full object-cover" />
                </figure>

                <span class="text-base prose clear-none">{{ content }}
                </span>
            </div>
        </div>
    </div>
</section>
{{ partial:navigation/footer }}
