{{# @name Hero @desc The hero page builder block. @set page.page_builder.hero #}}
<!-- /page_builder/_hero.antlers.html -->
{{ partial:{{ theme_settings:template }}/page_builder/block }}
    <section style="background-image: url('{{ background_image }}');" class="hero">
        <div class="content-area">
            <div class="inner-padding">
                <header>
                    {{ hero_title }}
                        <{{ heading }} class=" flex-1 mb-4 text-[{{ text_colour }}]">
                            {{ title }}
                        </{{ heading }}>
                    {{ /hero_title }}

                    <div class="prose text-[{{ hero_text_colour }}] max-w-4xl mx-auto text-center">
                        {{ hero_content | markdown }}
                    </div>
                </header>

                <!-- Buttons -->
                 <div class="buttons">
                    {{ hero_buttons }}
                        {{ partial:components/button }}
                    {{ /hero_buttons }}
                </div>
            </div>
        </div>
    </section>
{{ /partial:{{ theme_settings:template }}/page_builder/block }}
<!-- End: /page_builder/_hero.antlers.html -->
