{{ partial:{{ theme_settings:template }}/page_builder/block }}
<section
    id="{{ block:slug }}"
    class="
        {{ switch(
        (banner_bg_gradient == true) => 'bg-gradient-to-r from-[{{ banner_bg_colour }}]/{{ banner_bg_opacity }} to-[{{ banner_bg_secondary_colour }}]/{{ banner_bg_opacity }} ',
        (banner_bg_gradient == false) => 'bg-[{{ banner_bg_colour }}] bg-opacity-{{ banner_bg_opacity }}'
        ) }}
    "
>
    <div class="content-area">
        <div class="inner-padding flex flex-col md:flex-row gap-8">
            <div
                style="background-image: url('{{ featured_image }}');"
                class="w-full lg:w-2/3 min-h-72 bg-cover bg-no-repeat bg-center rounded-xl"
            ></div>

            <div class="flex flex-col justify-between">
                <div class="grid grid-cols-1 lg:grid-cols-{{ info_cards | count }} gap-8">
                    {{ info_cards }}
                    <div class="bg-quaternary px-8 pt-6 pb-16 rounded-xl">
                        {{ if icon }}
                        <div class="size-12 flex items-center justify-center text-primary bg-white rounded-full p-4 mb-6">{{ icon }}</div>
                        {{ /if }}

                        {{ info_title }}
                            <{{ heading }} class=" flex-1 mb-4 text-[{{ text_colour }}]">
                                {{ title }}
                            </{{ heading }}>
                        {{ /info_title }}

                        <div class="prose text-[{{ info_text_colour }}]">
                            {{ info_content | markdown }}
                        </div>
                    </div>
                    {{ /info_cards }}
                </div>

                {{ if info_buttons }}
                <div class="flex mt-12">
                {{ info_buttons }}
                    {{ partial:components/button }}
                {{ /info_buttons }}
                {{ /if }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ /partial:{{ theme_settings:template }}/page_builder/block }}
